PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/bankshakha
JWT_SECRET=change_this_super_secret_key
JWT_EXPIRES_IN=7d
AUTO_SEED=true
ADMIN_EMAIL=admin@bankshakha.com
ADMIN_PASSWORD=Admin@123
ALLOWED_ORIGINS=*
TRUST_PROXY=true
PUBLIC_BASE_URL=http://localhost:5000
