NODE_ENV=production
MONGODB_URI=mongodb+srv://abhijeetjha108786_db_user:5A8SOMwve1oEDghB@bankshakha.lw5umva.mongodb.net/bankshakha?retryWrites=true&w=majority&appName=Bankshakha&authSource=admin
JWT_SECRET=8XbD1hf1l/Ix7nDIGG6wbklWIQD+b8bDPYPyYsy+2oqg6lo6pYFZD+g/7dKDwloh2kr5cVXSFfzF/THYBBrvxw==
JWT_EXPIRES_IN=7d
AUTO_SEED=false
ADMIN_EMAIL=admin@bankshakha.com
ADMIN_PASSWORD=Admin@123
ALLOWED_ORIGINS=https://your-frontend-domain.vercel.app
TRUST_PROXY=true
PUBLIC_BASE_URL=https://<your-backend-project>.vercel.app
